@{
    ViewBag.Title = $"{Resources.About}";
}
<main aria-labelledby="title" dir="ltr">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5 text-center">
                <div class="card">
                    <div class="card-body">
                        <img src="~/wwwroot/Images/moi.jpg" style="width:140px;height:150px" class="rounded-circle img-fluid mb-3" alt="Omar Tarek">
                        <h2 class="card-title">Omar Tarek El-Sayed Ali Badawy</h2>
                        <h4 class="card-subtitle mb-2 text-muted">Backend .NET Developer</h4>
                        <p>
                            <a href="mailto:omartarekbadawy21@gmail.com" class="btn btn-outline-secondary btn-sm mx-1">
                                <i class="fas fa-envelope"></i> omartarekbadawy21@gmail.com
                            </a>
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/in/justomar21" class="btn btn-outline-primary btn-sm mx-1" target="_blank">
                                <i class="fab fa-linkedin"></i> LinkedIn
                            </a>
                            <a href="https://github.com/JustOmar21" class="btn btn-outline-dark btn-sm mx-1" target="_blank">
                                <i class="fab fa-github"></i> GitHub
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-7" dir="ltr">
                <div class="p-3">
                    <h3 class="border-bottom pb-2 mb-3">Summary</h3>
                    <p>A fresh Computer Science graduate from ITI (Information Technology Institute), enthusiastic about learning technology and crafting software solutions. Eager to utilize skills in backend development, specializing in .NET.</p>

                    <h3 class="border-bottom pb-2 mb-3">Internship</h3>
                    <p>
                        <strong>Full Stack Development Using .Net</strong> <br>
                        ITI (Information Technology Institute) • Beni Suef, Egypt • Oct 2023 - Apr 2024
                    </p>

                    <h3 class="border-bottom pb-2 mb-3">Education</h3>
                    <p>
                        <strong>Bachelor of Computer Science</strong> <br>
                        Menofia University • Menofia, Egypt • 2019 - 2023 • 3.13 GPA
                    </p>

                    <h3 class="border-bottom pb-2 mb-3">Projects</h3>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <strong>Clinic Backend API</strong> - Backend API provides Vezeeta-like experience with three entities {Admin, Patient, Doctor}. Technologies used: SQL Server, Entity Framework, .NET 8, ASP.NET API.
                        </li>
                        <li class="mb-2">
                            <strong>Simple Employee Management API</strong> - CRUD operations on Employees with custom validation and exception handling, and CORS policy. Technologies used: SQL Server, Entity Framework, .NET 8, ASP.NET API.
                        </li>
                        <li class="mb-2">
                            <strong>Examination System Database</strong> - Modernizing exam management with automated answer checking and result calculation. Technologies used: SQL, SQL Server.
                        </li>
                        <li class="mb-2">
                            <strong>Examination System Desktop Application</strong> - User-friendly interfaces for different roles to manage branches, departments, and classes. Technologies used: C#, Windows Form, Entity Framework.
                        </li>
                        <li class="mb-2">
                            <strong>E-commerce Website</strong> - E-commerce project using Local Storage. Technologies used: HTML, CSS, JavaScript.
                        </li>
                        <li class="mb-2">
                            <strong>Simple Contact List Website</strong> - Responsive web app for efficient contact management. Technologies used: HTML, CSS, JavaScript, and Bootstrap.
                        </li>
                    </ul>

                    <h3 class="border-bottom pb-2 mb-3">Skills & Languages</h3>
                    <ul class="list-unstyled">
                        <li class="mb-2"><strong>Programming Languages:</strong> C#, JavaScript</li>
                        <li class="mb-2"><strong>Back-End:</strong> SQL, Database (MS SQL Server), LINQ, Entity Framework, ASP.NET MVC, ASP.NET API</li>
                        <li class="mb-2"><strong>Concepts:</strong> OOP, SOLID, DRY, YAGNI, KISS</li>
                        <li class="mb-2"><strong>Languages:</strong> English: Excellent, Arabic: Native</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>